body {
    background-color: #D9E0E7;
}

#content {
    position: relative;
}

.chatframe {
    overflow: auto;
    height: 550px;
}

.message-block {
    position: relative;
    margin: 20px 0 20px 0;
}
.message-block span {
    padding: 10px;
    border-radius: 10px;
    background-color: #49B3D6;
    box-shadow: 1px 1px 3px black;
}