/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04.05.2016, 19:29:42
    Author     : dennis
*/

body {
    background-color: #D9E0E7;
}

#content {
    position: relative;
}

.chatbox {
    position: relative;
    overflow: auto;
    height: 500px;
}

.message-block {
    position: relative;
    margin: 20px 0 20px 0;
}
.message-block span {
    padding: 10px;
    border-radius: 10px;
    background-color: #49B3D6;
    box-shadow: 1px 1px 3px black;
}